.title{
  text-align: center;
  margin: 1rem;
}

.choiceTimeCicleContainer{
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title)
}

.choiceTimeCicleContainer > div {
  flex: 1 ;/*faz ocupar a largura máxia do container*/

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0,0,0,0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.choiceTimeCicleContainer > div input {
  flex: 1;
  border: none;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
  font-size: 6.25rem;
}

.choiceTimeCicleContainer > div input:first-child {
  border-right: 2px solid #f0f1f3;
}

.choiceTimeCicleContainer > div input:last-child {
  border-left: 2px solid #f0f1f3;
}

.choiceTimeCicleContainer input {
  width: 7vw;
  font-size: 6.25rem;
  margin: 0 0.5rem;

  text-align: center;
}

.choiceTimeCicleContainer span {

  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.defineButton{
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: var(--white);

  font-size: 1.5rem;
  font-weight: 600;

  transition: 0.5s;
}